@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --a:0;}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}

.close{
    display: none;
}

body {
    /* background-color:  black; */
    color: black;
}

/* .container{
    width: 100vw;
} */

.left{
    width: 25vw;
    padding: 10px;

}


.right{
    width: 75vw;
    padding: 10px;
}


.home ul li{
    display: flex;
    width: 25px;
    gap: 15px;
    list-style: none;
    padding-top: 15px;
    font-weight: bold;
}

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 10px;
    font-weight: bold;
    padding: 15px 10px;
    align-items: center;
    font-size: 15px;
}

.heading img{
    width: 25px;
}

.library{
    min-height: 70vh;
    position: relative;

}

.footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px ;
}

.footer a{
 color: grey;
}
 /* ################################################################################################################### */

.right {
    margin: 16px 0;
    position: relative;
    
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34 34 34);
}

.header>* {
    padding: 20px;
}

.spotifyPlaylists{
    padding: 16px;
}
.spotifyPlaylists h1{
    padding: 16px;
}

.spotifyPlaylists .card{
    width: 170px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    font-size: 13px;
    position: relative;
}

.cardContainer{
    display: flex;
    gap: 10px;
    margin: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 65vh; 
}

.card:hover{
    background-color: rgb(105, 103, 103);
    cursor: pointer;
    --a: 1;
}

.card>* {
    padding-top: 10px;
}

.card img{
    width: 100%;
    object-fit: contain;

}

.play{
    width: 35px;
    height: 35px;
    background-color: #1ed760;
    border-radius: 50%;
    border: 1px solid #000;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 140px;
    right: 20px;
    opacity: var(--a);
    transition: all 1s ease-out;
}


/* ################################################################################################################### */
/* Base styles for the signup button */
.signupbtn {
    background-color: rgb(34 34 34); /* Spotify green */
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Hover effect for the signup button */
.signupbtn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Focus effect for the signup button */
.signupbtn:focus {
    outline: none;
}

/* Active effect for the signup button */
.signupbtn:active {
    transform: translateY(1px);
    box-shadow: none;
}

.loginbtn {
    background-color: white; /* Spotify green */
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Hover effect for the signup button */
.loginbtn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Focus effect for the signup button */
.loginbtn:focus {
    outline: none;
}

/* Active effect for the signup button */
.loginbtn:active {
    transform: translateY(1px);
    box-shadow: none;
}
/* ################################################################################################################### */

.playbar{
    position: sticky;
    bottom: 10px;
    background-color: #070707;
    width: 72vw;
    padding: 20px;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 30px; 
    min-height:60px;
} 

.songbutton{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 4px;
}

.hamburger{
    display: none;
}

.hamburgerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}



.songList{
    height : 55vh;
    overflow:auto;
}
.songList ul {
    padding: 5px 5px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    gap: 10px;
    cursor: pointer;
    margin: 12px 0;
    padding: 12px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}


.songList ul li img,
.songList ul li .playnow {
    flex: 0 0 30%; /* 20% width for images and playnow */
}

.songList ul li .info {
    flex: 0 0 30%; /* 30% width for content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
}

.songList ul li .playnow {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.songList ul li .playnow:hover {
    background-color: #169d47; /* Darker shade of green */
}

.songList ul li img.invert {
    width: 100%;
    max-width: 30px; /* Adjust max-width as needed */
    height: auto;
}





.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow div {
    font-size: 15px;
    width: 64px;
    padding: 12px;
    display: flex;
}


.seekbar {
    height: 3px;
    width: 70%;
    background-color: #f9f5f5;
    border-radius: 10px;
    position: absolute;
    bottom: 4px;
    left: 50%; /* Set to 50% of the parent container's width */
    transform: translateX(-50%); 
    margin: 2px;
    cursor: pointer;
    
} 


.circle {
    width: 10px; /* Adjust circle size as needed */
    height: 10px;
    border-radius: 50%;
    background-color: rgb(21, 253, 64);
    position: relative;
    bottom: 4px;
    transform: translateX(-50%); /* Center the circle horizontally */
    /* left: 0%; */
    transition: left 0.5s;
}

.timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.volume{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4px;

}


.songinfo {
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
    padding: 0 12px;
    width: 250px;
}

.songtime{
    width: 125px;
    color: white;
    padding: 0 12px;
}



.songbutton img {
    margin-right: 10px; /* Adjust spacing between buttons */
    cursor: pointer;
}

.abovebar{
    display: flex;
    justify-content: space-between;
    color: rgb(250, 248, 248);
    align-items: center;
    margin: 10px;
}


/* / /////////////////////////////////////////////////////////////////////////////////////////////////////*/


@media (max-width: 1200px) {
    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 75px); 
    }

    .seekbar {
        width: calc(100vw - 120px);
    }

    .hamburger {
        display: block;
    }

    .right {
        margin: 0;
    }

    .card {
        width: 55vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center; 
    }

    .close {
        display: block;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
        position: sticky;
        bottom: 10px;
    }

    .cardContainer {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
    }

    .playbar{
        right: 25px;
    }
}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }

    .header>* {
        padding: 2px;
    }

    .buttons>* {
        margin: 0 6px;
    }

    .header{
        padding: 7px;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .spotifyPlaylists .card{
        width: 300px;
    }

    .spotifyPlaylists h1 {
        padding: 4px;
    }

    .library{
        height: 80vh;
    }

    .left{ 
        width: 100vw;
        z-index: 2;
    }

    .right{
        margin: 0;
    }

    .playbar{
        width: 85%;
    }

    
}
    
